.custom-navbar {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: #d60039;
}

.custom-navbar.scrolled {
  background-color: #16161d;
  color: #d60039;
}

.nav-item .active {
  color: white;
  padding: 5px;
  border-bottom: 3px solid #d60039;
  text-decoration: none;
}

.nav-item {
  margin: 15px;
  cursor: pointer;
}

.navbar-toggler-icon {
  color: #fff;
}
